.header {
    height: 53px;
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-bottom: solid 1px #F4F4F4;
}

.header-title {
    height: 33px;
    font-size: 30px;
    color: #F5C800;
}

.content {
    height: 1000px;
    padding: 70px 0px 70px 0px;
    background-color: #F8F8F8;
}


